<center><h1><%= @author.name %></h1></center>
<h2>Books Written </h2>
<p><%@author.books.each do |book|%>
  <li><%=book.title%></li>
</p>
  <%end%>
<p>This author has written an average of <b><%=number_with_precision(@author.average_pages_written, precision: 1)%></b> pages.
  </p>
