<center><h1><%= @author.name %></h1></center>
<p><%@author.books.each do |book|%>
  <%=book.title%></br>
  <%end%>
This author has written an average of <%=number_with_precision(@author.average_pages_written, precision: 1)%> pages.</p>
